.addForm{
    display:flex;
    margin-top:.5rem;
    justify-content: space-between;
    border:1px solid lightgrey;
    border-radius:.3rem;
    cursor: pointer;
}

.commentInput{
    outline:none;
    padding:.3rem;
    border:none;
}

.addBtn{
    background-color:lightgrey;
    border: none;
    font-weight: 500;
    color:rgb(75, 72, 72);

    &:hover{
        background-color:grey;
        color:white;
    }
}