.columnsContainer{
    display:flex;
    background-color: rgba(34, 30, 30, 0.4);
    border-radius: .4rem;
    padding: 1rem;
    margin:1rem;
    justify-content: space-between;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
    }