.navCenter{
        margin:2rem auto;
        width:100%;
        align-self:center;

    .searchbar{
        width: 60%;
        height:30px;
        margin:0 auto;
        background-color: white;
        border-radius: 1rem;
        display:flex;
        align-items: center;
        -webkit-box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 0.68);
        box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 0.68);

        .searchIcon{
            font-size: 1.2rem !important;
            margin: 0 .6rem;
            color:grey;
        }
        input{
            border:none;
            outline:none;
            width: 70%;
            font-size: 1rem;
            font-weight:600;
            color:grey;
        }
        input:focus{
            outline:none;
        }
    }
}